<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trentseed.bmw_rpi_ibus_controller"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:description="@string/app_description">
        <activity
            android:name="com.trentseed.bmw_rpi_ibus_controller.ActivityMain"
            android:label="@string/app_name" android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <activity android:name=".ActivityIBUS" android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Wallpaper"/>
        <activity android:name=".ActivityRadio" android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Wallpaper"/>
        <activity android:name=".ActivityStatus" android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Wallpaper"/>
        <activity android:name=".ActivityDevices" android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Wallpaper"/>
    </application>

</manifest>
